html {
  background-color: hsl(0, 0%, 21%);
}

.section {
  padding: 1.5rem;
}

.pageHeader {
  font-family: Anton, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  letter-spacing: 0.02em;
  padding-top: 1.5em;
}

.homeLink:active,
.homeLink:hover {
  color: #61dafb;
}
