html {
  background-color: hsl(0, 0%, 21%);
}

.section {
  padding: 1.5rem;
}

h1.pageHeader {
  font-family: Anton, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  letter-spacing: 0.02em;
  padding-top: 1.5em;
  color: #efe91b;
}

.homeLink {
  color: #efe91b;
  font-size: 3rem;
}

.homeLink:active,
.homeLink:hover {
  color: #c5212b;
}
