.heroName,
.appearanceTitle {
  font-family: "Anton", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

.box {
  background-color: hsl(0, 0%, 48%);
}

.appearanceTitle {
  font-size: 1.5em;
  color: hsl(0, 0%, 75%);
}

.listTile,
.heroInfoHead {
  background-color: hsl(0, 0%, 18%);
}

.subtitle.listTitle {
  text-transform: uppercase;
  width: 100%;
}

.heroImage {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.heroImage img {
  max-width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.basis-100 {
  flex-basis: 100%;
}

.heroAppearances {
  margin-top: 3rem;
}

.heroInfo {
  /* border: 1px solid rgba(200, 250, 0, 0.5); */
}

.heroInfo a {
  color: hsl(204, 86%, 53%);
}

a.attributionText {
  color: #efe91b;
}

a.attributionText:active,
a.attributionText:hover {
  color: #c5212b;
}
