.hero {
  background-color: hsl(0, 0%, 48%);
}

.hero > a {
  color: hsl(204, 87%, 67%);
}

.hero > a:hover,
.hero > a:active {
  color: #efe91b;
}

.subtitle {
  font-family: "Anton", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  color: rgba(208, 208, 208, 1);
}

.is-ancestor {
  flex-wrap: wrap;
}

img {
  border: 1px solid black;
  border-radius: 5px;
  object-fit: cover;
}
